# Interface: ValidationResult

## Hierarchy

* **`ValidationResult`**

  ↳ [`TaskValidateOutput`](/en/auto-docs/interface/interfaces/TaskValidateOutput.md)

## Table of contents

### Properties

* [errors](/en/auto-docs/interface/interfaces/ValidationResult.md#errors)
* [valid](/en/auto-docs/interface/interfaces/ValidationResult.md#valid)

## Properties

### errors

`Optional` **errors**: `string`\[]

***

### valid

**valid**: `boolean`
